In [1]:
import pandas as pd #importing the library

In [2]:
deliveries = pd.read_csv('drive/MyDrive/all_matches.csv') #imported the dataset

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
deliveries

        match_id   season  ... other_wicket_type other_player_dismissed
0         335982  2007/08  ...               NaN                    NaN
1         335982  2007/08  ...               NaN                    NaN
2         335982  2007/08  ...               NaN                    NaN
3         335982  2007/08  ...               NaN                    NaN
4         335982  2007/08  ...               NaN                    NaN
...          ...      ...  ...               ...                    ...
200659   1254086     2021  ...               NaN                    NaN
200660   1254086     2021  ...               NaN                    NaN
200661   1254086     2021  ...               NaN                    NaN
200662   1254086     2021  ...               NaN                    NaN
200663   1254086     2021  ...               NaN                    NaN

[200664 rows x 22 columns]

In [4]:
deliveries_2020 = deliveries[deliveries["season"] == "2020/21"] # filtered the dataset

In [5]:
deliveries_2020

        match_id   season  ... other_wicket_type other_player_dismissed
179058   1216492  2020/21  ...               NaN                    NaN
179059   1216492  2020/21  ...               NaN                    NaN
179060   1216492  2020/21  ...               NaN                    NaN
179061   1216492  2020/21  ...               NaN                    NaN
179062   1216492  2020/21  ...               NaN                    NaN
...          ...      ...  ...               ...                    ...
193612   1237181  2020/21  ...               NaN                    NaN
193613   1237181  2020/21  ...               NaN                    NaN
193614   1237181  2020/21  ...               NaN                    NaN
193615   1237181  2020/21  ...               NaN                    NaN
193616   1237181  2020/21  ...               NaN                    NaN

[14559 rows x 22 columns]

In [7]:
unique_bowlers = deliveries_2020["bowler"].unique().tolist() # getting the list of all bowlers

In [8]:
unique_bowlers

['DL Chahar',
 'SM Curran',
 'L Ngidi',
 'PP Chawla',
 'RA Jadeja',
 'TA Boult',
 'JL Pattinson',
 'JJ Bumrah',
 'KH Pandya',
 'RD Chahar',
 'SS Cottrell',
 'Mohammed Shami',
 'CJ Jordan',
 'K Gowtham',
 'Ravi Bishnoi',
 'A Nortje',
 'MM Sharma',
 'K Rabada',
 'R Ashwin',
 'AR Patel',
 'MP Stoinis',
 'B Kumar',
 'Sandeep Sharma',
 'T Natarajan',
 'MR Marsh',
 'V Shankar',
 'Rashid Khan',
 'Abhishek Sharma',
 'DW Steyn',
 'UT Yadav',
 'NA Saini',
 'Washington Sundar',
 'YS Chahal',
 'S Dube',
 'JD Unadkat',
 'JC Archer',
 'S Gopal',
 'TK Curran',
 'R Tewatia',
 'S Sandeep Warrier',
 'Shivam Mavi',
 'PJ Cummins',
 'SP Narine',
 'AD Russell',
 'Kuldeep Yadav',
 'KA Pollard',
 'JR Hazlewood',
 'Avesh Khan',
 'A Mishra',
 'M Ashwin',
 'JDS Neesham',
 'GJ Maxwell',
 'CV Varun',
 'KL Nagarkoti',
 'KK Ahmed',
 'Mohammad Nabi',
 'AS Rajpoot',
 'R Parag',
 'I Sharma',
 'I Udana',
 'A Zampa',
 'SN Thakur',
 'DJ Bravo',
 'Abdul Samad',
 'HV Patel',
 'Harpreet Brar',
 'S Kaul',
 'KS Williamson',
 'Mohammed Siraj',
 'MM Ali',
 'Kartik Tyagi',
 'KV Sharma',
 'Mujeeb Ur Rahman',
 'Arshdeep Singh',
 'VR Aaron',
 'AJ Tye',
 'M Prasidh Krishna',
 'N Rana',
 'CH Morris',
 'BA Stokes',
 'S Nadeem',
 'TU Deshpande',
 'NM Coulter-Nile',
 'CJ Green',
 'Shahbaz Ahmed',
 'Basil Thampi',
 'LH Ferguson',
 'DJ Hooda',
 'DR Sams',
 'JO Holder',
 'Imran Tahir',
 'Monu Kumar',
 'MJ Santner',
 'DA Warner',
 'CH Gayle',
 'J Yadav',
 'P Dubey',
 'DS Kulkarni']

In [9]:
# calculated and stored the number of balls bowled by each bowler
balls_list = []
for bowler in unique_bowlers:
  bowler_df = deliveries_2020[deliveries_2020["bowler"] == bowler]
  balls = len(bowler_df)
  balls_list.append([bowler, balls])

In [10]:
balls_list

[['DL Chahar', 321],
 ['SM Curran', 265],
 ['L Ngidi', 104],
 ['PP Chawla', 128],
 ['RA Jadeja', 221],
 ['TA Boult', 354],
 ['JL Pattinson', 222],
 ['JJ Bumrah', 384],
 ['KH Pandya', 315],
 ['RD Chahar', 323],
 ['SS Cottrell', 131],
 ['Mohammed Shami', 342],
 ['CJ Jordan', 210],
 ['K Gowtham', 48],
 ['Ravi Bishnoi', 318],
 ['A Nortje', 376],
 ['MM Sharma', 25],
 ['K Rabada', 414],
 ['R Ashwin', 312],
 ['AR Patel', 308],
 ['MP Stoinis', 184],
 ['B Kumar', 88],
 ['Sandeep Sharma', 317],
 ['T Natarajan', 389],
 ['MR Marsh', 4],
 ['V Shankar', 84],
 ['Rashid Khan', 391],
 ['Abhishek Sharma', 61],
 ['DW Steyn', 75],
 ['UT Yadav', 46],
 ['NA Saini', 294],
 ['Washington Sundar', 302],
 ['YS Chahal', 348],
 ['S Dube', 55],
 ['JD Unadkat', 144],
 ['JC Archer', 345],
 ['S Gopal', 305],
 ['TK Curran', 116],
 ['R Tewatia', 286],
 ['S Sandeep Warrier', 21],
 ['Shivam Mavi', 162],
 ['PJ Cummins', 321],
 ['SP Narine', 230],
 ['AD Russell', 114],
 ['Kuldeep Yadav', 75],
 ['KA Pollard', 138],
 ['JR Hazlewood', 61],
 ['Avesh Khan', 25],
 ['A Mishra', 61],
 ['M Ashwin', 191],
 ['JDS Neesham', 93],
 ['GJ Maxwell', 126],
 ['CV Varun', 313],
 ['KL Nagarkoti', 160],
 ['KK Ahmed', 158],
 ['Mohammad Nabi', 26],
 ['AS Rajpoot', 115],
 ['R Parag', 13],
 ['I Sharma', 20],
 ['I Udana', 182],
 ['A Zampa', 67],
 ['SN Thakur', 203],
 ['DJ Bravo', 135],
 ['Abdul Samad', 43],
 ['HV Patel', 98],
 ['Harpreet Brar', 25],
 ['S Kaul', 26],
 ['KS Williamson', 12],
 ['Mohammed Siraj', 172],
 ['MM Ali', 32],
 ['Kartik Tyagi', 241],
 ['KV Sharma', 118],
 ['Mujeeb Ur Rahman', 49],
 ['Arshdeep Singh', 158],
 ['VR Aaron', 54],
 ['AJ Tye', 27],
 ['M Prasidh Krishna', 109],
 ['N Rana', 13],
 ['CH Morris', 204],
 ['BA Stokes', 96],
 ['S Nadeem', 137],
 ['TU Deshpande', 110],
 ['NM Coulter-Nile', 165],
 ['CJ Green', 17],
 ['Shahbaz Ahmed', 37],
 ['Basil Thampi', 24],
 ['LH Ferguson', 127],
 ['DJ Hooda', 6],
 ['DR Sams', 77],
 ['JO Holder', 176],
 ['Imran Tahir', 66],
 ['Monu Kumar', 16],
 ['MJ Santner', 42],
 ['DA Warner', 2],
 ['CH Gayle', 5],
 ['J Yadav', 42],
 ['P Dubey', 48],
 ['DS Kulkarni', 20]]

In [11]:
balls_df = pd.DataFrame(balls_list, columns = ["player", "balls"]) # converted the list to dataframe for ease in filtering out

In [12]:
balls_df

         player  balls
0     DL Chahar    321
1     SM Curran    265
2       L Ngidi    104
3     PP Chawla    128
4     RA Jadeja    221
..          ...    ...
93    DA Warner      2
94     CH Gayle      5
95      J Yadav     42
96      P Dubey     48
97  DS Kulkarni     20

[98 rows x 2 columns]

In [29]:
balls_df = balls_df[balls_df["balls"] >= 200] #filteredd the dataset to get bowler bowled more than 200 deliveries

In [30]:
balls_df

               player  balls
0           DL Chahar    321
1           SM Curran    265
4           RA Jadeja    221
5            TA Boult    354
6        JL Pattinson    222
7           JJ Bumrah    384
8           KH Pandya    315
9           RD Chahar    323
11     Mohammed Shami    342
12          CJ Jordan    210
14       Ravi Bishnoi    318
15           A Nortje    376
17           K Rabada    414
18           R Ashwin    312
19           AR Patel    308
22     Sandeep Sharma    317
23        T Natarajan    389
26        Rashid Khan    391
30           NA Saini    294
31  Washington Sundar    302
32          YS Chahal    348
35          JC Archer    345
36            S Gopal    305
38          R Tewatia    286
41         PJ Cummins    321
42          SP Narine    230
52           CV Varun    313
61          SN Thakur    203
70       Kartik Tyagi    241
78          CH Morris    204

In [31]:
all_bowlers = balls_df["player"].tolist() #getting the list of bowlers satisfying our criteria

In [32]:
all_bowlers

['DL Chahar',
 'SM Curran',
 'RA Jadeja',
 'TA Boult',
 'JL Pattinson',
 'JJ Bumrah',
 'KH Pandya',
 'RD Chahar',
 'Mohammed Shami',
 'CJ Jordan',
 'Ravi Bishnoi',
 'A Nortje',
 'K Rabada',
 'R Ashwin',
 'AR Patel',
 'Sandeep Sharma',
 'T Natarajan',
 'Rashid Khan',
 'NA Saini',
 'Washington Sundar',
 'YS Chahal',
 'JC Archer',
 'S Gopal',
 'R Tewatia',
 'PJ Cummins',
 'SP Narine',
 'CV Varun',
 'SN Thakur',
 'Kartik Tyagi',
 'CH Morris']

In [33]:
# calculated avg, sr and eco of a bowler
data_bowlers = []
for bowler in all_bowlers:
  bowler_df = deliveries_2020[deliveries_2020["bowler"] == bowler]
  balls = len(bowler_df[(pd.isna(bowler_df["wides"])) & (pd.isna(bowler_df["noballs"]))])
  runs_bat = bowler_df[(pd.isna(bowler_df["byes"])) & (pd.isna(bowler_df["legbyes"]))]["runs_off_bat"].sum()
  runs_extras = bowler_df[(pd.isna(bowler_df["byes"])) & (pd.isna(bowler_df["legbyes"]))]["extras"].sum()
  total_runs = runs_bat + runs_extras
  wickets = len(bowler_df[pd.isna(bowler_df["player_dismissed"]) == False])
  average = total_runs/wickets
  econ = (total_runs*6)/balls
  sr = balls/wickets
  data_bowlers.append([bowler, average, econ, sr])

In [34]:
data_bowlers

[['DL Chahar', 33.0, 7.615384615384615, 26.0],
 ['SM Curran', 24.571428571428573, 8.19047619047619, 18.0],
 ['RA Jadeja', 53.0, 8.752293577981652, 36.333333333333336],
 ['TA Boult', 18.153846153846153, 8.137931034482758, 13.384615384615385],
 ['JL Pattinson', 29.09090909090909, 9.014084507042254, 19.363636363636363],
 ['JJ Bumrah', 14.0, 6.774193548387097, 12.4],
 ['KH Pandya', 63.333333333333336, 7.574750830564784, 50.166666666666664],
 ['RD Chahar', 27.0625, 8.169811320754716, 19.875],
 ['Mohammed Shami', 20.347826086956523, 8.50909090909091, 14.347826086956522],
 ['CJ Jordan', 26.25, 9.692307692307692, 16.25],
 ['Ravi Bishnoi', 26.857142857142858, 7.372549019607843, 21.857142857142858],
 ['A Nortje', 22.26086956521739, 8.39344262295082, 15.91304347826087],
 ['K Rabada', 17.15625, 8.297229219143578, 12.40625],
 ['R Ashwin', 26.066666666666666, 7.666666666666667, 20.4],
 ['AR Patel', 29.727272727272727, 6.411764705882353, 27.818181818181817],
 ['Sandeep Sharma',
  26.714285714285715,
  7.1923076923076925,
  22.285714285714285],
 ['T Natarajan', 26.526315789473685, 8.021220159151193, 19.842105263157894],
 ['Rashid Khan', 17.25, 5.335051546391752, 19.4],
 ['NA Saini', 48.125, 8.25, 35.0],
 ['Washington Sundar', 33.111111111111114, 5.96, 33.333333333333336],
 ['YS Chahal', 18.40909090909091, 7.084548104956268, 15.590909090909092],
 ['JC Archer', 18.2, 6.538922155688622, 16.7],
 ['S Gopal', 42.7, 8.54, 30.0],
 ['R Tewatia', 29.636363636363637, 7.086956521739131, 25.09090909090909],
 ['PJ Cummins', 34.083333333333336, 7.865384615384615, 26.0],
 ['SP Narine', 50.333333333333336, 7.947368421052632, 38.0],
 ['CV Varun', 20.941176470588236, 6.846153846153846, 18.352941176470587],
 ['SN Thakur', 27.5, 8.505154639175258, 19.4],
 ['Kartik Tyagi', 36.7, 9.615720524017467, 22.9],
 ['CH Morris', 17.5, 6.631578947368421, 15.833333333333334]]

In [35]:
# calculated the index for each bowler (sum of reciprocals of avg, sr and eco)
index_vals = []
for bowler_data in data_bowlers:
  index = (1/bowler_data[1]) + (1/bowler_data[2]) + (1/bowler_data[3])
  index_vals.append([bowler_data[0], index])

In [36]:
index_vals

[['DL Chahar', 0.2000777000777001],
 ['SM Curran', 0.21834625322997417],
 ['RA Jadeja', 0.16064662550727982],
 ['TA Boult', 0.25267874537307616],
 ['JL Pattinson', 0.19695569248826292],
 ['JJ Bumrah', 0.2996927803379416],
 ['KH Pandya', 0.16774057236113538],
 ['RD Chahar', 0.2096678141385972],
 ['Mohammed Shami', 0.23636363636363636],
 ['CJ Jordan', 0.2028083028083028],
 ['Ravi Bishnoi', 0.21862397441246004],
 ['A Nortje', 0.22690403005464482],
 ['K Rabada', 0.25941449150351986],
 ['R Ashwin', 0.21781756180733164],
 ['AR Patel', 0.22555015890148108],
 ['Sandeep Sharma', 0.22134238310708898],
 ['T Natarajan', 0.21276560285180976],
 ['Rashid Khan', 0.29695701977190103],
 ['NA Saini', 0.17056277056277058],
 ['Washington Sundar', 0.22798657718120804],
 ['YS Chahal', 0.2596131927197687],
 ['JC Archer', 0.26775569739641597],
 ['S Gopal', 0.1738485558157689],
 ['R Tewatia', 0.21470169823063928],
 ['PJ Cummins', 0.19494075606545044],
 ['SP Narine', 0.1720111537120948],
 ['CV Varun', 0.2483074042062806],
 ['SN Thakur', 0.20548578569197126],
 ['Kartik Tyagi', 0.17491244561315833],
 ['CH Morris', 0.27109440267335005]]

In [37]:
index_df = pd.DataFrame(index_vals, columns = ["player", "index"]) #converted the list to dataframe, for sorting the data in descending order

In [38]:
index_df

               player     index
0           DL Chahar  0.200078
1           SM Curran  0.218346
2           RA Jadeja  0.160647
3            TA Boult  0.252679
4        JL Pattinson  0.196956
5           JJ Bumrah  0.299693
6           KH Pandya  0.167741
7           RD Chahar  0.209668
8      Mohammed Shami  0.236364
9           CJ Jordan  0.202808
10       Ravi Bishnoi  0.218624
11           A Nortje  0.226904
12           K Rabada  0.259414
13           R Ashwin  0.217818
14           AR Patel  0.225550
15     Sandeep Sharma  0.221342
16        T Natarajan  0.212766
17        Rashid Khan  0.296957
18           NA Saini  0.170563
19  Washington Sundar  0.227987
20          YS Chahal  0.259613
21          JC Archer  0.267756
22            S Gopal  0.173849
23          R Tewatia  0.214702
24         PJ Cummins  0.194941
25          SP Narine  0.172011
26           CV Varun  0.248307
27          SN Thakur  0.205486
28       Kartik Tyagi  0.174912
29          CH Morris  0.271094

In [39]:
index_df.sort_values(by = "index", ascending=False) # sorted the data in descending order

               player     index
5           JJ Bumrah  0.299693
17        Rashid Khan  0.296957
29          CH Morris  0.271094
21          JC Archer  0.267756
20          YS Chahal  0.259613
12           K Rabada  0.259414
3            TA Boult  0.252679
26           CV Varun  0.248307
8      Mohammed Shami  0.236364
19  Washington Sundar  0.227987
11           A Nortje  0.226904
14           AR Patel  0.225550
15     Sandeep Sharma  0.221342
10       Ravi Bishnoi  0.218624
1           SM Curran  0.218346
13           R Ashwin  0.217818
23          R Tewatia  0.214702
16        T Natarajan  0.212766
7           RD Chahar  0.209668
27          SN Thakur  0.205486
9           CJ Jordan  0.202808
0           DL Chahar  0.200078
4        JL Pattinson  0.196956
24         PJ Cummins  0.194941
28       Kartik Tyagi  0.174912
22            S Gopal  0.173849
25          SP Narine  0.172011
18           NA Saini  0.170563
6           KH Pandya  0.167741
2           RA Jadeja  0.160647